{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "cwd": "babelrc",
        "alias": {
          "@auth": "./components/@auth",
          "@user": "./components/@user",
          "@core": "./components/@core",
          "@layout": "./components/@layout",
          "@locations": "./components/@locations",
          "@helpers": "./lib/@helpers",
          "@config": "./lib/@config",
          "@postcss": "./lib/@postcss"
        }
      }
    ]
  ]
}
