.detailView {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: $contentMaxWidth;
  overflow: hidden;
  padding: $spacingBase;
  margin: 0 auto;

  @media (max-width: $breakpointSmMax) {
    flex-direction: column;
    min-height: calc(100vh - 64px);
    padding: 0;
  }

  @media (max-width: $breakpointXsMax) {
    min-height: calc(100vh - 56px);
  }
}

.centered {
  justify-content: center;
  align-items: center;

  .loading {
    margin-top: 40vh;
  }
}

.advertMobileAppBar {
  @media (min-width: $breakpointSmMin) {
    display: none;
  }
}

.advertMobileAppBarTitle {
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.primaryContent {
  display: flex;
  width: 100%;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  border-right: 1px solid $grey3;
}

.secondaryContent {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  background-color: $grey3;
  border-radius: 0 8px 8px 0;
  transition: top 0.2ms ease-in;

  .chatArea {
    height: 100%;

    @media (max-width: $breakpointSmMax) {
      padding-top: 56px;
    }
  }
  .chatAreaAppBar {
    @media (min-width: $breakpointMdMin) {
      display: none;
    }
  }

  @media (max-width: $breakpointSmMax) {
    position: absolute;
    z-index: 3;
    top: 100vh;
    height: 100%;
  }
}

@media (max-width: $breakpointSmMax) {
  .secondaryContentActive {
    z-index: 15;
    top: 0;
  }
}

.map {
  display: flex;
}

.header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-grow: 1;
  max-height: 240px;
  min-height: 240px;
  padding: $spacingHuge;
  border-radius: 8px 0 0 0;
  background-color: $primary;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: $breakpointSmMax) {
    border-radius: 0;
  }

  @media (max-width: $breakpointXsMax) {
    display: none;
  }
}

.person {
  position: relative;
  top: -52px;
  display: flex;
  padding: 0 $spacingHuge $spacingMedium;
  color: $white;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: -32px;
  background-color: $white;

  @media (max-width: $breakpointXsMax) {
    top: 56px;
    padding: 0 $spacingBase $spacingBig;
    color: $black;
    align-items: center;
  }

  .personDetails {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 104px;
    padding: $spacingSemi;
    padding-left: 0;

    @media (max-width: $breakpointXsMax) {
      justify-content: center;
    }

    .name {
      z-index: 3;
      margin-bottom: 0;
    }

    .adress {
      color: $black;
      margin-bottom: $spacingSemi;
    }
  }

  .categories {
    .categorie {
      margin-right: $spacingHalf;
    }
  }
}

.userImageArea {
  composes: userImageArea from '@user/dashboard/userImage/userImageStyles.css';

  margin-right: $spacingMedium;

  @media (max-width: $breakpointXsMax) {
    margin-right: 0;
  }
}

.userImage {
  composes: userImage from '@user/dashboard/userImage/userImageStyles.css';
}

.content {
  flex-grow: 1;
  background-color: $white;
  padding: $spacingHuge $spacingHuge $spacingMedium;
  border-radius: 0 0 0 8px;
  margin-top: -20px;

  @media (max-width: $breakpointXsMax) {
    margin-top: $spacingMassive;
  }

  .description {
    margin-bottom: $spacingMassive;
  }

  .callToAction {
    display: flex;
    justify-content: center;
    min-height: 36px;
  }
}
