.header {
  z-index: 2;
  display: flex;
  padding: $spacingHalf;
  color: $white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $primary;
  margin-bottom: $spacingBase;
  background-color: $primary;
  border-radius: 3px 3px 0 0;

  .orientation {
    display: flex;
    color: $white;
    flex-direction: row;
    align-items: center;

    h2 {
      margin-left: $spacingHalf;
    }
  }
}
