.loading {
  margin: $spacingGrande;
}

.createAdvert {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  padding: $spacingMedium;
}

.form {
  padding: $spacingMedium;
  margin: 0 auto;
  background-color: $white;
  border-radius: 3px;
}
