.loading {
  margin: $spacingGrande;
}

.createAdvert {
  display: flex;
  width: 100%;
  flex-basis: auto;
  margin: 0 auto;
  max-width: 1024px;
}

.form {
  width: 100%;
  padding: $spacingMedium $spacingHuge;
  background-color: $white;
  border-radius: 8px;
}

.callToAction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $spacingMassive;
}
