.input {
  position: relative;
  box-sizing: border-box;
  width: 100%;

  &::placeholder {
    color: $grey6;
  }

  .label {
    position: absolute;
    z-index: 2;
    bottom: $spacingMedium;
    left: 0;
    color: $grey5;
    font-size: $fontSizeMedium;
    cursor: text;
    transition: all 150ms ease-in-out;
  }

  input {
    z-index: 1;
    padding: $spacingSmall 0;
    border: none;
    color: $black;
    font-size: $fontSizeMedium;
    border-bottom: 2px solid $grey4;
    margin-bottom: $spacingBase;
    background-color: transparent;
    outline: none;

    &:not(:placeholder-shown):not(:focus) {
      &:valid {
        border-bottom: 2px solid $success;
        transition: border-bottom 150ms ease-out;

        & ~ .label {
          color: $success;
        }
      }
      &:invalid {
        border-bottom: 2px solid $danger;
        transition: border-bottom 150ms ease-out;

        & ~ .validityHint {
          opacity: 1;
        }

        & ~ .label {
          color: $danger;
        }
      }
    }
  }

  &:not(:first-child) {
    margin-top: $spacingBase;
  }
}

.focused {
  input {
    border-bottom: 2px solid $primary;
    transition: border-bottom 150ms ease-out;
  }

  .label {
    bottom: $spacingGrande;
    color: $primaryDarken2;
    font-size: $fontSizeBase;
  }
}

.validityHint {
  position: absolute;
  right: 0;
  bottom: $spacingMedium;
  padding: $spacingHalf 0 $spacingHalf $spacingSmall;
  background-color: $whiteAlpha9;
  color: $danger;
  opacity: 0;
}
