.input {
  position: relative;
  box-sizing: border-box;
  width: 100%;

  &::placeholder {
    color: $grey6;
  }

  .label {
    position: absolute;
    z-index: 2;
    bottom: $spacingMedium;
    left: 0;
    color: $grey5;
    font-size: $fontSizeMedium;
    cursor: text;
    transition: all 150ms ease-in-out;
  }

  input {
    z-index: 1;
    padding: $spacingSmall 0;
    border: none;
    color: $black;
    font-size: $fontSizeMedium;
    border-bottom: 2px solid $grey4;
    margin-bottom: $spacingBase;
    background-color: transparent;
    outline: none;

    &:not(:placeholder-shown):not(:focus) {
      &:valid {
        border-bottom: 2px solid $success;
        transition: border-bottom 150ms ease-out;

        & ~ .label {
          color: $success;
        }
      }
      &:invalid {
        border-bottom: 2px solid $danger;
        transition: border-bottom 150ms ease-out;

        & ~ .validityHint {
          opacity: 1;
        }

        & ~ .label {
          color: $danger;
        }
      }
    }
  }

  &:not(:first-child) {
    margin-top: $spacingBase;
  }
}

.focused {
  input {
    border-bottom: 2px solid $primary;
    transition: border-bottom 150ms ease-out;
  }

  .label {
    bottom: $spacingGrande;
    color: $primary;
    font-size: $fontSizeBase;
  }
}

.validityHint {
  position: absolute;
  right: 0;
  bottom: $spacingMedium;
  padding: $spacingHalf 0 $spacingHalf $spacingSmall;
  background-color: $whiteAlpha9;
  color: $danger;
  opacity: 0;
}

.checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  align-self: flex-start;

  .label {
    position: relative;
    display: inline-block;
    padding: $spacingBase 0 $spacingBase 44px;
    color: $grey7;
    font-size: $fontSizeMedium;
    cursor: pointer;
    min-width: 112px;
    transition: color 200ms ease;

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      margin: 0;
      content: '';
      outline: 0;
      transform: translate(0, -50%);
      transition: all 200ms ease;
    }

    &:before {
      left: 1px;
      width: 34px;
      height: 14px;
      background-color: $grey5;
      border-radius: $spacingSmall;
    }

    &:after {
      left: 0;
      width: 20px;
      height: 20px;
      background-color: $white;
      border-radius: 50%;
      box-shadow: 0 3px 1px -2px $blackAlpha15, 0 2px 2px 0 $blackAlpha1, 0 1px 5px 0 $blackAlpha07;
    }
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;

    &:checked + label {
      color: $black;
    }

    &:checked + label:before {
      background-color: $successLighten;
    }

    &:checked + .label:after {
      background-color: $success;
      transform: translate(80%, -50%);
    }
  }
}
