.advertForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: inherit;
}

.advertFormAreas {
  width: inherit;

  @media (min-width: $breakpointMdMin) {
    display: flex;
    flex-direction: row;
  }
}

.advertFormMainFields {
  @media (min-width: $breakpointMdMin) {
    flex: 1 1;
  }
}

.advertFormLocation {
  position: relative;
  display: block;
  width: 100%;
  height: 320px;
  margin-top: $spacingBig;

  @media (min-width: $breakpointMdMin) {
    flex: 1 1;
    margin: 0 0 $spacingBase $spacingBase;

    h2 {
      margin-bottom: $spacingBase;
    }
  }
}

.advertFormActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: $spacingMedium;

  @media (max-width: $breakpointXsMax) {
    margin-top: $spacingBig;
    flex-direction: column;

    .advertFormActionButtons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: $spacingBase 0;
    }

    &.singleActionButton {
      flex-direction: row;

      .advertFormActionButtons {
        justify-content: flex-end;
      }
    }
  }
}

.advertFormDescriptionTitle {
  margin-bottom: $spacingSemi;
}
