.advertForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: inherit;
}

.advertFormFields {
  width: inherit;
}

.advertFormActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: $spacingMedium;

  @media (max-width: $breakpointXsMax) {
    margin-top: $spacingBig;
    flex-direction: column;

    .advertFormActionButtons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: $spacingBase 0;
    }

    &.singleActionButton {
      flex-direction: row;

      .advertFormActionButtons {
        justify-content: flex-end;
      }
    }
  }
}

.location {
  position: relative;
  display: block;
  width: 100%;
  height: 360px;
  margin-top: $spacingBig;
}

.advertFormDescriptionTitle {
  margin-bottom: $spacingSemi;
}
