@lost flexbox flex;
@lost gutter 12px;
@lost rounder 100;

@media (max-width: $breakpointXsMax) {
  @lost gutter 4px;
}

.categories {
  width: 100%;
  margin: $spacingBase 0;
  lost-center: 100%;
  lost-utility: clearfix;

  @media (max-width: $breakpointXsMax) {
    margin: 0 0 $spacingMassive;
  }
}

.categorie {
  cursor: pointer;
  lost-column: 1/7;
  lost-align: center;
  background-color: $grey2;
  margin-bottom: $spacingSemi;
  border-radius: 4px;

  @media (max-width: $breakpointSmMax) {
    lost-column: 1/4;
  }

  @media (max-width: $breakpointXsMax) {
    lost-column: 1/3;
    margin-bottom: $spacingHalf;
  }

  &:not(.selected):hover {
    background-color: $grey3;
    color: $black;

    .categorieName,
    & svg {
      color: $black;
    }
  }
}

.categorieName {
  color: $grey7;
}

.categorieInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacingBase;

  & svg {
    padding-bottom: $spacingSmall;
    color: $grey7;
  }
}

.selected {
  color: $white;
  background-color: $primary;

  .categorieName,
  svg {
    color: $white;
  }
}
