.navigation {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: flex-end;
  background-color: $primary;
  padding-right: $spacingMedium;

  a {
    margin: $spacingBase;
    text-decoration: none;
    outline: none;
    color: $black;
    font-size: $fontSizeMedium;
    font-weight: 600;
  }
}
