.signUp {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  background-color: $grey1;
}

.signUpContainer {
  width: 400px;
  padding: $spacingBase $spacingBig;
  background-color: $white;
  border-radius: 2px;

  & button {
    margin-top: $spacingBase;
  }
}

.toggleSignUp {
  color: $grey7;
  cursor: pointer;
  margin-top: $spacingBase;

  &:hover {
    color: $black;
  }
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
