@lost gutter 0;

.advertList {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);

  @media (max-width: $breakpointXsMax) {
    height: calc(100vh - 56px);
    padding: $spacingSemi $spacingSemi 0;
  }
}

.advertResults {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: row;
}

.advertListItemArea {
  display: flex;
  overflow: scroll;
  width: 100%;
  height: inherit;
  flex-direction: column;
  flex: 2 2;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $breakpointSmMin) {
    padding: 0 $spacingBase;
  }
}

.advertListTitle {
  margin-top: $spacingMedium;
}

.advertListItems {
  margin: 0 auto;
  lost-utility: clearfix;
  lost-column: 1/1;

  @media (max-width: $breakpointSmMax) {
    margin-bottom: 52px;
  }
}

.advertMap {
  position: relative;
  display: flex;
  flex: 1 1;
  margin-bottom: -16px;

  @media (max-width: $breakpointSmMax) {
    display: none;
  }
}
