.chat {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: inherit;

  .chatInner {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 3px;
    justify-content: space-between;
    background-color: $grey3;
  }
}

.chatTrigger {
  z-index: 15;
  display: flex;
  padding: $spacingHalf;
  flex-direction: row;
  justify-content: space-between;
  background-color: $white;
  padding-left: 0;

  input {
    width: 80%;
    border: none;
    padding-left: $spacingBase;
  }

  @media (max-width: $breakpointXsMax) {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
