.chat {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: inherit;

  .chatInner {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 3px;
    justify-content: space-between;
    background-color: $grey3;
  }
}

.chatHeader {
  z-index: 2;
  display: flex;
  padding: $spacingHalf;
  color: $white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $primary;
  margin-bottom: $spacingBase;
  background-color: $primary;
  border-radius: 3px 3px 0 0;

  .orientation {
    display: flex;
    color: $white;
    flex-direction: row;
    align-items: center;

    h2 {
      margin-left: $spacingHalf;
    }
  }
}

.chatTrigger {
  z-index: 15;
  display: flex;
  padding: $spacingHalf;
  flex-direction: row;
  justify-content: space-between;
  background-color: $white;
  padding-left: 0;

  input {
    width: 80%;
    border: none;
    padding-left: $spacingBase;
  }

  @media (max-width: $breakpointXsMax) {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
