.card {
  max-width: 345;
  margin-bottom: $spacingBase;
  lost-column: 1/3;
}

.media {
  object-fit: cover;
  background-color: $primary;
  color: $white;
}

.categories {
  margin-top: $spacingBase;
  & > div {
    cursor: pointer;
  }
}

.chip {
  margin: $spacingHalf;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.grow {
  flex-grow: 1;
}

.preventMaterialAddingClassnameToNextLinkError {
  position: absolute;
  padding: 7px 20px;
}
