.trigger {
  z-index: 2;
  display: flex;
  padding: $spacingHalf;
  flex-direction: row;
  justify-content: space-between;
  background-color: $white;
  padding-left: 0;

  input {
    width: 80%;
    border: none;
    padding-left: $spacingBase;
  }
}
