.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 64px);
  background-color: $grey2;

  @media (max-width: $breakpointXsMax) {
    min-height: calc(100vh - 56px);
  }
}

.dashboardTopArea {
  width: 100%;
  margin: $spacingBase auto 0;
  max-width: $contentMaxWidth;
  background-color: $white;

  @media (max-width: $contentMaxWidth) {
    margin-top: 0;
  }

  .dashboardUserInfo {
    display: flex;
    width: 100%;
    padding: $spacingBase;
    border-radius: 8px;
    flex-direction: row;

    @media (min-width: $breakpointMdMin) {
      margin-bottom: -48px;
    }

    .personDetails {
      display: flex;
      margin-left: $spacingMedium;
      justify-content: center;
      flex-direction: column;
      height: 104px;
      padding: $spacingSemi;

      @media (max-width: $breakpointXsMax) {
        margin-left: 0;
        justify-content: center;
      }

      .name {
        z-index: 3;
        margin-bottom: 0;
      }

      .adress {
        color: $black;
        margin-bottom: $spacingSemi;
      }
    }
  }

  .myAdvertNavigation {
    position: relative;
    bottom: 0;
    width: calc(100% - 80px);
    margin: 0 auto;
    color: $black;

    @media (max-width: $breakpointXsMax) {
      width: calc(100% - 32px);
    }
  }
}

.advertArea {
  display: flex;
  width: 100%;
  max-width: $contentMaxWidth;
  background-color: $white;
  padding: 0 $spacingBase $spacingBase;
  margin: 0 auto;
  margin-top: $spacingBase;
  border-radius: 8px;
  flex-direction: column;

  @media (max-width: $breakpointSmMax) {
    padding: 0;
    border-radius: 0;
  }
}

.advertFormWrapper {
  position: relative;
  width: 100%;
  background-color: $white;
  border-radius: 8px;

  @media (min-width: $breakpointSmMin) {
    padding: $spacingBase;
  }

  @media (max-width: $breakpointXsMax) {
    margin-top: 48px;
    padding: $spacingSemi;
  }
}

.callToAction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $spacingMassive;

  @media (max-width: $breakpointXsMax) {
    padding-top: 70%;
    background-color: $grey2;
  }
}
