.testWrapper {
  padding: $spacingMedium;
}

.testUserData {
  lost-column: 1/2;
  overflow: scroll;
  padding: $spacingMedium;
  border-radius: 3px;
}

.testForm {
  lost-column: 1/2;
  background-color: $white;
  padding: $spacingMedium;
  border-radius: 3px;
}

.devTestAre {
  position: absolute;
  width: 100%;
  height: 90%;
  background-color: $grey1;
}
