.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 112px);
  background-color: $grey1;
  /* padding: $spacingMedium; */
}

.adverts {
  height: 100%;
}

.dashboardSection {
  /* margin-top: $spacingBase; */
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.itemList {
  margin-top: $spacingBase;
  display: flex;
  flex-basis: 1;
  flex-direction: column;
  border-right: 1px solid $grey3;

  .chatListItem {
    &[class*='selected'] {
      background-color: $grey3;
    }
  }
}
